.header {
  display: flex;
  margin-left: 2rem;
  padding: 1rem;
  background-color: #f8f9fa;
  flex-direction: row;
}

.logoImage {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.title {
  font-size: 1rem;
  color: #7a7a7a;
  font-weight: bold;
  margin-left: 1rem;
  align-self: center;
}
